body {
    background-color: #242424;
    color: #a3a3a8;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background: url('/img/background-kava.jpeg');
    background-position: center bottom;
}


.black {
    background-color: #242424dc;
}

.head-logo {
    max-width: 120px;
    margin:0.2rem 0 0;
    opacity: .4;
}

.title {
	font-family: "Montserrat";
    text-align: center;
    font-size: 1rem;
	color: rgb(116, 116, 116);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    letter-spacing: 1px;
    padding: 2rem 0 0;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 64px;
    font-weight: bolder;
    line-height: 1.25;
    margin-bottom: 0;
}


.site-title {
    padding: 1rem 0 1rem;
}

.video__wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero {
    padding: 6rem 0;
    padding-top: 3rem;
}

.page-wrap {
    margin: auto;
    max-width: 700px;
}

/*************************
 FOOTER
 *************************/

.footers {
    background: #67B26F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
padding: 0 0 3px 0;
text-align: center;
}

.footer-jungle {
    background-color: #242424;
    background-image: url(/img/kava-footer-grade.jpg);
    background-size: cover;
    background-position: center top;
}

.footer-logo {
    max-width: 300px;
    margin:4rem 0;
}

.copyright {
    margin-top: 3px;
    font-size: .8rem;
}

.cta {
    margin: 1rem auto;
    max-width: 575px;
    margin-top: 0;
}
p {
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
}


h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white !important;
    margin-top: 2rem;
}

img {
    width: 100%;
}


/*********************
SLIDER
**********************/
.slide-wrap {
    position: relative;
    background-color: #242424;
}
.slide-text {
    background-color: #242424;
    padding: 1rem 1rem 3rem;
}

.slide-text p {
    margin-bottom: 10px;
    color: white;
}



@media (min-width:900px) {
    .slide-text {
        position: absolute;
        top: 22%;
        right: 60px;
        background-color: rgba(0,0,0,.0);
    }
}


.prezby {
    margin: 2rem auto;
}

.top-logo {
    display: block;
    margin-top: 10px;
}